.about-container {
    width:80%;
    height:100vh;
    display:flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    background: rgb(232, 180, 180);
    .box-container {
        height:100%;
        width:100%;
        display:flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: row;
        .box {
            height:300px;
            width:200px;
            border-radius:6px;
            background: rgb(201, 134, 134);
        }
    }
    
}