.inicio-container {
    width:calc(100% - 300px);
    min-height:100vh;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: rgb(190, 64, 64);
}